/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

div.fadeMe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.css_btn_class {
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #3866a3;
    padding: 9px 18px;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #468ccf));
    background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
    background: -ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color: #63b8ee;
    color: #ffffff;
    display: inline-block;
    text-shadow: 1px 1px 0px #7cacde;
    -webkit-box-shadow: inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow: inset 1px 1px 0px 0px #bee2f9;
    box-shadow: inset 1px 1px 0px 0px #bee2f9;
}

.css_btn_class:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #468ccf), color-stop(100%, #63b8ee));
    background: -moz-linear-gradient(center top, #468ccf 5%, #63b8ee 100%);
    background: -ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color: #468ccf;
}

.css_btn_class:active {
    position: relative;
    top: 1px;
}

.cent {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.oldenburg150 {
    font-family: 'Oldenburg', serif;
    color: black;
    font-size: 150%
}

.oldenburg500 {
    font-family: 'Oldenburg', serif;
    color: black;
    font-size: 500%
}

.gwt-Label {
    font-family: 'Oldenburg', serif;
    color: black;
}

.gwt-Label-red {
    font-family: 'Oldenburg', serif;
    color: darkred;
    font-size: 200%;
}

.gwt-TextBox {
    padding: 5px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    font-size: small;
    font-family: 'Oldenburg', serif;
}
